
input{
    height: 80px;
}

body {
    /* color:aquamarine */
    background-color: darkseagreen;
    font-size: 40px;
}

.datalist-items div {
    height: 65px;
}


.dokoncovacka {
    font-size: 30px;
}
